<section class="timeline-wrapper">
  <img height="24" src="../../../assets/img/twitter.svg" alt="AngTwitter"/>

  <form>
    <textarea
      #newTweet
      placeholder="O que está acontecendo?"
      (keypress)="handleNewTweet($event)"
    ></textarea>
  </form>

  <ul class="tweet-list" *ngIf="tweets$ | async as tweets; else loading">
    <Tweet
      *ngFor="let tweet of tweets"
      [tweet]="tweet"
    ></Tweet>
  </ul>

  <ng-template #loading>
    <p>Carregando..</p>
  </ng-template>
</section>
